<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <select id="find" parameterType="src.user.User" resultType="src.user.User">
        SELECT * FROM user where username=#{username} and password=#{password}
    </select>
    <insert id="add" parameterType="src.user.User">
        insert into user values(#{username},#{password})
    </insert>

</mapper>